@font-face {
    font-family: 'Bebas Neue Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas Neue Bold'), url('../fonts/Bebas.woff') format('woff');
}
@import "partials/general";
@import "partials/owl";
@import "partials/header";
@import "partials/body";
@import "partials/footer";
@import "partials/homePage";
@import "partials/projectPage";
@import "partials/servicePage";
@import "partials/categoryPage";
@import "partials/contactPage";