{% extends 'partials/base_no_breadcrumbs.html.twig' %}

{% block content %}
    <div class="content-container category">
        <ul>
        {% for page in page.children.visible %}
            <li>
                <a href="{{ page.url }}">
                    {{ page.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
