{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="content-container contacts">
        {% include 'partials/recaptchaform.html.twig' with {'page': page, 'recaptchacontact': recaptchacontact} %}
    </div>
{% endblock %}