{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="content-container service">
        <h2>{{ page.title }}</h2>
        <div class="service-page">
            <div class="collapsable">
                <h3>Lorem ipsum 0</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit, turpis et tincidunt vestibulum, sapien neque efficitur nunc, cursus congue nibh justo non ante. Integer vitae hendrerit orci, nec vehicula lacus. Nulla id fermentum lacus. Fusce odio lectus, ultrices eu sollicitudin id, laoreet eget leo. Vestibulum posuere id turpis at porttitor. Fusce facilisis pharetra pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at faucibus neque. Integer vulputate tortor id nulla ultricies facilisis. Sed auctor lacus lectus. Morbi varius mollis tellus a fermentum. Sed at dui in lacus finibus congue at sed magna. Aenean vitae pharetra nisi, at vulputate mi. </p>
            </div>
            <div class="collapsable">
                <h3>Lorem ipsum 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit, turpis et tincidunt vestibulum, sapien neque efficitur nunc, cursus congue nibh justo non ante. Integer vitae hendrerit orci, nec vehicula lacus. Nulla id fermentum lacus. Fusce odio lectus, ultrices eu sollicitudin id, laoreet eget leo. Vestibulum posuere id turpis at porttitor. Fusce facilisis pharetra pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at faucibus neque. Integer vulputate tortor id nulla ultricies facilisis. Sed auctor lacus lectus. Morbi varius mollis tellus a fermentum. Sed at dui in lacus finibus congue at sed magna. Aenean vitae pharetra nisi, at vulputate mi. </p>
            </div>
            <div class="collapsable">
                <h3>Lorem ipsum 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit, turpis et tincidunt vestibulum, sapien neque efficitur nunc, cursus congue nibh justo non ante. Integer vitae hendrerit orci, nec vehicula lacus. Nulla id fermentum lacus. Fusce odio lectus, ultrices eu sollicitudin id, laoreet eget leo. Vestibulum posuere id turpis at porttitor. Fusce facilisis pharetra pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at faucibus neque. Integer vulputate tortor id nulla ultricies facilisis. Sed auctor lacus lectus. Morbi varius mollis tellus a fermentum. Sed at dui in lacus finibus congue at sed magna. Aenean vitae pharetra nisi, at vulputate mi. </p>
            </div>
        </div>
    </div>
{% endblock %}
