{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="content-container service">
        <h1>{{ page.title }}</h1>
        <div class="service-page">
            {{ page.content }}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
