{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="content-container">
        <div class="service-page">
            {{ page.content }}
        </div>
    </div>
{% endblock %}
