<footer>
    <div class="center">
        <div class="social-icons">
            {%  if page.url != '/contacts' %}
            <div class="contact-button">
                {% if grav.language.getLanguage == 'en' %}
                    <a class="contact-button-link" href="/contacts">Contact us</a>
                {% else %}
                    <a class="contact-button-link" href="/contacts">Свяжитесь с нами</a>
                {% endif %}
            </div>
            {% endif %}
            <a href="https://www.facebook.com/sod.architects/?ref=ts&fref=ts" target="_blank"><i class="fa fa-facebook-f"></i></a>
            <a href="https://www.behance.net/sod_architects"><i class="fa fa-behance" target="_blank"></i></a>
            <a href="https://www.instagram.com/s.o.d_architects/?hl=ru" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="footer-address">
            <p>
                {% if grav.language.getLanguage == 'en' %}
                    <span>Kiev, Sechevyih streltsov str, 21, suit 311</span>
                {% else %}
                    <span>Киев, ул. Сечевых стрельцов, 21, офис 311</span>
                {% endif %}
            </p>
            <p>
                <span><a href="mailto:sod.projects@gmail.com">sod.projects@gmail.com</a></span>
                <span><a href="mailto:sod.inform@gmail.com">sod.inform@gmail.com</a></span>
            </p>
            <p>
                <span><a href="tel:+380967745002">+380967745002</a></span>
            </p>
        </div>
    </div>
</footer>