<footer>
    <ul class="footer-left">
        {% for page in pages.children.visible %}
            {%  if page.url != '/contacts' %}
            <li>
                <a href="{{ page.url }}">
                    {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                    {{ page.menu }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="social-icons">
        {%  if page.url != '/contacts' %}
        <div class="contact-button">
            <a class="contact-button-link" href="/contacts">Свяжитесь с нами</a>
        </div>
        {% endif %}
        <a href="https://www.facebook.com/finiquestudio/?fref=ts" target="_blank"><i class="fa fa-facebook-f"></i></a>
        {#<a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>#}
        <a href="https://www.behance.net/finique"><i class="fa fa-behance" target="_blank"></i></a>
        <a href="http://www.pictaram.com/user/finique_studio/3099509086" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>

    <ul class="footer-right">
        <li>Киев, ул. Кудрявская, 8а</li>
        <li><a href="tel:+380967745002">+380967745002</a></li>
        <li><a href="tel:+380634721130">+380634721130</a></li>
        <li><a href="mailto:finique@outlook.com">finique@outlook.com</a></li>
    </ul>
</footer>