.about-us {
    #body {
        img {
            max-height: 70vh;
            max-width: 100%;
        }
        text-align: center;
    }
    p.description {
        padding: 20px 0;
        max-width: 70%;
        margin: 0 auto;
        color: rgba(0,0,0,0.4);
        text-align: justify;
    }
}