.category {
    margin-top: -40px;
    @include respond(xs) {
        margin-top: 0;
    }
    h1 {
        @include heading();
        padding: 30px 0 20px 5%;
        float: left;
        & + p {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            @include respond(xs) {
                text-align: center;
                margin-bottom: 20px;
            }
            #interior-live, #interior-public {
                padding-top: 30px;
                padding-left: 10px;
                color: $header-home-color;
                float: left;
                font-family: inherit;
                line-height: inherit;
                cursor: pointer;
                @include transitionAll();
                opacity: 0.6;
                text-transform: lowercase;
                font-size: 28px;
                @include respond(xs) {
                    float: none;
                    padding-top: 0;
                }
                &:hover, &.active {
                    opacity: 1;
                }
            }
        }
        @include respond(xs) {
            padding: 30px 0;
            float: none;
            display: block;
            text-align: center;
        }
    }
    .row {
        &:after {
            display: block;
            content: ' ';
            clear: both;
        }
        .l-33 {
            @include transitionAll;
            @include respond(xs) {
                width: 100%;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 2px;
                height: 55vw;
                &.placeholder-column {
                    display: none;
                }
            }
            @include respond(smUP) {
                width: 50%;
                height: 27vw;
                &:nth-of-type(n+1) {
                    padding-right: 1px;
                }
                &:nth-of-type(n+2) {
                    padding-left: 1px;
                }
                &.placeholder-column {
                    display: none;
                }
            }
            @include respond(lg) {
                &:nth-of-type(3n+1) {
                    padding-right: 1px;
                }
                &:nth-of-type(3n+2) {
                    padding: 0 1px;
                }
                &:nth-of-type(3n+3) {
                    padding-left: 1px;
                }
                &.placeholder-column {
                    display: block;
                }
                width: 33.33%;
                height: 18.5vw;
            }
            box-sizing: border-box;
            float: left;
            overflow: hidden;
            position: relative;
            margin-bottom: 2px;
            .mask {
                @include respond(xs) {
                    opacity: 1;
                    bottom: 0;
                    height: 100%;
                    top: auto;
                    background: none;
                    a {
                        background: none;
                    }
                    h3 span {
                        position: absolute;
                        bottom: 5px;
                        top: auto;
                        font-size: 16px;
                        color: white;
                    }
                }
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: $nav-hover-link;
                @include transitionAll;
            }
            img {
                width: 100%;
                @include transitionAll;
            }
            p {
                margin: 0;
            }
            a {
                background: $nav-hover-link;
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                color: $project-home-color;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 30px;

                }
            }
            .placeholder {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $nav-bg-color;
            }
            h3 {
                font-family: "Montserrat Alternates", sans-serif;
                text-align: center;
                position: relative;
                margin: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                text-wrap: none;
                @include respond(xs) {
                    transform: translate(0, 0);
                    opacity: 1;
                    color: white;
                    bottom: 0;
                    left: 0;
                    top: auto;
                    padding: 10px;
                }
            }
            &:hover {
                .mask {
                    opacity: 1;
                }
            }
        }
    }
}