.contacts {
    width: 90%;
    h1, h2 {
        @include heading();
        padding: 60px 0 20px 0;
        @include respond(xs) {
            padding: 30px 0 20px;
        }
    }
    .right {
        float: right;
        @include respond(xs) {
            float: none;
        }
    }
    .left {
        float: left;
        width: calc(100% - 400px);
        @include respond(xs) {
            float: none;
            width: 100%;
        }
    }
    form, .alert {
        width: 304px;
        margin: 0 auto;
    }
    .form-label {
        padding-top: 5px;
        padding-bottom: 10px;
        label {
            font-size: 14px;
            color: $header-home-color;
        }
    }
    input, textarea {
        width: 300px;
        padding: 5px 0;
        border: none;
        border-bottom: 1px solid $header-home-color;
        resize: none;
        @include transitionAll();
        &:focus {
            border-bottom: 3px solid $header-home-color;
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: transparent;
        }
        &::-moz-placeholder {
            color: transparent;
        }
        &:-ms-input-placeholder {
            color: transparent;
        }
        &:-moz-placeholder {
            color: transparent;
        }
    }

    .buttons {
        margin-top: 15px;
        button {
            font-family: 'Open Sans', sans-serif;
            border: none;
            width: 300px;
            max-width: 100%;
            font-weight: 300;
            margin-bottom: 15px;
            color: white;
            text-align: center;
            display: block;
            padding: 15px;
            background: $button-color;
            text-decoration: none;
            cursor: pointer;
            @include transitionAll();
            &:hover {
                background: $button-color-hover;
                color: $nav-hover-link-dark;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .recaptcha-form-container {
        width: 304px;
        float: right;
        @include respond(xs) {
            float: none;
            margin: 0 auto;
        }
    }
    #map {
        box-sizing: border-box;
        height: 348px;
        //border: 2px solid $nav-bg-color;
    }
    .addresses {
        box-sizing: border-box;
        padding-left: 0;
        padding-bottom: 20px;
        margin: 0;
        list-style: none;
        li {
            font-size: 14px;
            padding: 5px 5px 5px 0;
            a {
                @include transitionAll;
                font-size: 14px;
                text-decoration: none;
                text-transform: lowercase;
                color: black;
                display: inline-block;
                &:hover {
                    color: $nav-bg-color;
                }
            }

        }
    }
}