//Sticky footer
html, body {
    height: 100%;
}
#sb-site {
    min-height: 100%;
    margin-bottom: -210px;
    &:after {
        content: "";
        display: block;
        height: 210px;
    }
    @include respond(xs) {
        margin-bottom: -240px;
        &:after {
            content: "";
            display: block;
            height: 240px;
        }
    }
}
footer {
    position: relative;
    height: 190px;
    padding: 10px 5%;
    ul {
        padding-left: 0;
        margin: 0;
        list-style: none;
        li {
            font-size: 14px;
            a {
                @include transitionAll;
                font-size: 14px;
                text-decoration: none;
                text-transform: lowercase;
                color: black;
                padding: 5px;
                display: block;
                &:hover {
                    color: $nav-hover-link;
                }
            }

        }
    }
    .footer-address {
        text-align: center;
        * {
            color: rgba(0,0,0,0.4);
            font-size: 14px;
            padding: 0 3px;
            text-decoration: none;
        }
        p {
            margin: 5px 0;
        }
    }
    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .social-icons {
        text-align: center;
        padding: 10px 0;
        a {
            @include transitionAll();
        }
        .contact-button {
            width: 300px;
            margin: 15px auto;
            a {
                color: white;
                text-align: center;
                display: block;
                padding: 15px;
                background: $nav-bg-color;
                text-decoration: none;
                &:hover {
                    background: $nav-bg-color-mobile;
                    color: $nav-hover-link-dark;
                }
            }
        }
        a:not(.contact-button-link)  {
            color: white;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #767676;
            text-align: center;
            line-height: 30px;
            &:hover {
                background: $nav-bg-color-mobile;
                color: $nav-hover-link-dark;
            }
            i:after {
                font-size: 24px;
            }

        }
    }
}
@include respond(xs) {
    footer {
        height: 240px;
        .navigation {
            li {
                display: block;
                a {
                    display: block;
                    padding: 10px 0;
                    line-height: normal;
                }
            }
        }
        .social-icons {
            top: 200px;
        }
    }
}