//Sticky footer
html, body {
    height: 100%;
}
#sb-site {
    min-height: 100%;
    margin-bottom: -78px;
    &:after {
        content: "";
        display: block;
        height: 78px;
    }
}
footer {
    height: 78px;
    background: $nav-bg-color;
    .navigation {
        padding-left: 0;
        margin: 0;
        text-align: center;
        display: block;
        li {
            @include transitionAll;
            display: inline-block;
            a {
                display: inline-block;
                @include transitionAll;
                height: 100%;
                line-height: 78px;
                font-size: 16px;
                text-decoration: none;
                text-transform: lowercase;
                color: black;
                padding: 0 30px;
            }
            &:hover {
                background: $nav-hover-link;
            }
        }
    }
}
@include respond(xs) {
    footer {
        height: 220px;
        .navigation {
            li {
                display: block;
                a {
                    display: block;
                    padding: 10px 0;
                    line-height: normal;
                }
            }
        }
    }
}