//Mixins
@mixin respond($class) {
    @if $class == xs {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $class == sm {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    } @else if $class == smUP {
        @media (min-width: 768px){
            @content;
        }
    } @else if $class == mdDOWN {
        @media (max-width: 1199px) {
            @content;
        }
    } @else if $class == md {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    } @else if $class == mdUP {
        @media (min-width: 992px) {
            @content;
        }
    } @else if $class == lg {
        @media (min-width: 1200px) {
            @content;
        }
    } @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

@mixin transitionAll {
    transition: all ease 0.4s;
}

//COLORS

$nav-bg-color: rgba(0, 0, 0, 0.2);
$nav-bg-color-darker: rgba(0, 0, 0, 0.4);
$button-color: rgba(0, 0, 0, 0.3);
$button-color-hover: rgba(0, 0, 0, 0.2);
$carousel-arrow: rgba(0, 0, 0, 0.05);
$nav-bg-color-mobile: rgba(255, 255, 255, 0.85);
$nav-hover-link: rgba(255, 255, 255, 0.7);
$nav-hover-link-dark: rgba(0, 0, 0, 0.7);
$header-home-color: rgba(0, 0, 0, 0.2);
$project-home-color: rgba(0, 0, 0, 0.4);

@mixin heading {
    color: $header-home-color;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    @include respond(xs) {
        padding: 0;
        display: block;
        text-align: center;
    }
}

//Typography
p, span, div, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.clearfix {
    clear: both;
}

//Preloader
#hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cccccc url(../images/rings.svg) center 50% no-repeat;
    background-size: 150px;
    span {
        position: absolute;
        top: calc(50% + 110px);
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 20px;
        text-align: center;
        font-size: 58px;
        line-height: 1;
        font-family: "Catamaran", sans-serif;
        color: white;
        text-decoration: none;
    }
}