#header {
    height: 180px;
    background: transparent;
    position: relative;
    @include transitionAll;
    .fa.fa-bars, .logo {
        display: none;
    }
    .navigation {
        padding-left: 0;
        margin: 0;
        text-align: center;
        display: block;
        li {
            @include transitionAll;
            display: inline-block;
            a {
                display: inline-block;
                @include transitionAll;
                padding: 30px 35px;
                font-size: 16px;
                text-decoration: none;
                text-transform: lowercase;
                color: rgba(0,0,0, 0.4);
            }
            &:hover {
                background: rgba(0,0,0, 0.1);
            }
        }
    }
    &.collapsed {
        #navbar {
            @include transitionAll;
            position: fixed;
            top: 0;
            height: 78px;
            width: 100%;
            z-index: 99;
            background:rgba(255,255,255, 0.75);
            .navigation {
                a {
                    color: rgba(0,0,0, 0.4);
                }
                li:hover {
                    background: rgba(0,0,0, 0.1);
                }
            }
        }
        #logo {
            padding-top: 98px;
        }
    }
    @include respond(xs) {
        background: $nav-bg-color-mobile;
        height: auto;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        #logo {
            display: none;
        }
        .fa.fa-bars {
            display: inline-block;
            font-size: 24px;
            padding: 10px;
            margin: 5px 5% 5px 5px;
            color: white;
            border: 1px solid white;
            @include transitionAll();
            &.active {
                color: black;
                border-color: black;
            }
        }
        .mobile-toggle {
            text-align: right;
            position: relative;
            background: $nav-bg-color;
            .logo {
                display: block;
                position: absolute;
                top: 58%;
                left: 50%;
                transform: translate(-50%, -50%);
                a {
                    font-size: 30px;
                    line-height: 1;
                    font-family: "Catamaran", sans-serif;
                    color: white;
                    text-decoration: none;
                    letter-spacing: 4px;
                }
            }
        }
        .navigation {
            display: none;
            li {
                display: block;
                a {
                    padding: 15px 0;
                    display: block;
                    text-align: center;
                }
            }
        }
        & + #body {
            padding-top: 50px;
        }
    }
}

#logo {
    padding-top: 20px;
    text-align: center;
    h1 {
        font-size: 58px;
        line-height: 1;
        font-family: "Catamaran", sans-serif;
        font-weight: 500;
        color: rgba(0,0,0, 0.4);
        text-decoration: none;
        letter-spacing: 4px;
        margin: 0;
    }
    span {
        display: block;
        color: rgba(0,0,0, 0.4);
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
    }
    a {
        text-decoration: none;
    }
}

@keyframes logoAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
