#header {
    height: 350px;
    background: $nav-bg-color;
    position: relative;
    @include transitionAll;
    .fa.fa-bars {
        display: none;
    }
    .navigation {
        padding-left: 0;
        margin: 0;
        text-align: center;
        display: block;
        li {
            @include transitionAll;
            display: inline-block;
            a {
                display: inline-block;
                @include transitionAll;
                padding: 30px;
                font-size: 16px;
                text-decoration: none;
                text-transform: lowercase;
                color: black;
            }
            &:hover {
                background: $nav-hover-link;
            }
        }
    }
    &.collapsed {
        #navbar {
            @include transitionAll;
            position: fixed;
            top: 0;
            height: 78px;
            width: 100%;
            z-index: 99;
            background: $nav-bg-color;
            .navigation {
                a {
                    color: white;
                }
                li:hover {
                    background: $nav-hover-link-dark;
                }
            }
        }
        #social-links {
            position: fixed;
            z-index: 99;
        }
        #logo {
            padding-top: 138px;
        }
    }
    @include respond(xs) {
        background: $nav-bg-color-mobile;
        height: auto;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        #logo {
            display: none;
        }
        #social-links {
            display: none;
        }
        .fa.fa-bars {
            display: inline-block;
            font-size: 24px;
            padding: 10px;
            border: 1px solid;
            margin: 5px;
        }
        .mobile-toggle {
            text-align: center;
            background: $nav-bg-color;
        }
        .navigation {
            display: none;
            li {
                display: block;
                a {
                    padding: 15px 0;
                    display: block;
                    text-align: center;
                }
            }
        }
        & + #body {
            padding-top: 70px;
        }
    }
}

#logo {
    padding-top: 60px;
    text-align: center;
    a {
        font-size: 58px;
        line-height: 1;
        font-family: 'Bebas Neue Bold', sans-serif;
        color: white;
        text-decoration: none;
        letter-spacing: 4px;
    }
    span {
        display: block;
        color: white;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
    }
}

#social-links {
    margin: 0;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    li {
        list-style: none;
        display: inline-block;
    }
    a {
        display: block;
        width: 30px;
        height: 30px;
        background-size: contain;
        &.fb-link {
            background: url('../images/icon-fb.png') no-repeat center;
        }
        &.be-link {
            background: url('../images/icon-be.png');
        }
        &.in-link {
            background: url('../images/icon-in.png');
        }
        &.pi-link {
            background: url('../images/icon-pi.png');
        }
    }
}

@keyframes logoAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
