.home-content-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    h2 {
        color: $header-home-color;
        font-size: 70px;
        font-family: 'Bebas Neue Bold', sans-serif;
        display: block;
        padding: 60px 0 0 100px;
        margin: 0;
        line-height: 1;
        @include respond(xs) {
            padding: 0;
            display: block;
            text-align: center;
        }
    }
    .home-row {
        @include respond(xs) {
            margin-bottom: 0;
        }
        &> div > p {
            margin: 0;
            font-size: 0;
        }
        margin-bottom: 10px;
        .image-50 {
            width: calc((100vw - (100vw - 100%)) / 2 - 5px);
            height: calc(100vw - (100vw - 100%));
            float: left;
            overflow: hidden;
            &.right {
                float: right;
                height: calc(100vw - (100vw - 100%));
            }
            &.first {
                height: calc((100vw - (100vw - 100%)) / 4 - 7px);
            }
            &.last {
                margin-top: 10px;
                height: calc((100vw - (100vw - 100%)) / 4 - 7px);
            }
            &:nth-child(1), &:nth-child(3) {
                margin-right: 10px;
            }
        }
        .image-100 {
            width: calc(100vw - (100vw - 100%));
            height: calc(100vw - (100vw - 100%));
            overflow: hidden;
        }
        .image-100, .image-50 {
            @include respond(xs) {
                width: 100%!important;
                height: auto!important;
                margin-top: 0!important;
                margin-right: 0;
                margin-bottom: 10px;

            }
            position: relative;
            .project-title {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                margin: 0;
                opacity: 0;
                color: $project-home-color;
                @include transitionAll;
                @include respond(xs) {
                    transform: translate(0,0);
                    opacity: 1;
                    color: white;
                    bottom: 0;
                    left: 0;
                    top: auto;
                    padding: 10px;
                    background: $nav-bg-color;
                }
            }
            img {
                max-width: 100%;
                @include transitionAll;
            }
            &:hover {
                img {
                    opacity: 0.4;
                    @include respond(xs) {
                        opacity: 1;
                    }
                }
                .project-title {
                    opacity: 1;
                }
            }
        }
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
}