.home-content-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    h2 {
        @include heading();
        a {
            text-decoration: none;
            font-size: inherit;
            font-weight: inherit;
            font-family: inherit;
            color: inherit;
        }
        padding: 60px 0 20px 5%;
        @include respond(xs) {
            margin-bottom: 10px;
            margin-top: 50px;
        }
    }
    .home-row {
        @include respond(xs) {
            margin-bottom: 0;
        }
        &> div > p {
            margin: 0;
            font-size: 0;
        }
        margin-bottom: 2px;
        .image-50 {
            width: calc((100vw - (100vw - 100%)) / 2 - 1px);
            height: calc(100vw - (100vw - 100%));
            float: left;
            overflow: hidden;
            &.right {
                float: right;
                height: calc(100vw - (100vw - 100%));
            }
            &.first {
                height: calc((100vw - (100vw - 100%)) / 4 - 2px);
            }
            &.last {
                margin-top: 2px;
                height: calc((100vw - (100vw - 100%)) / 4 - 2px);
            }
            &:nth-child(1), &:nth-child(3) {
                margin-right: 2px;
            }
        }
        .image-100 {
            width: calc(100vw - (100vw - 100%));
            height: calc(100vw - (100vw - 100%));
            overflow: hidden;
        }
        .image-100, .image-50 {
            @include respond(xs) {
                width: 100%!important;
                height: auto!important;
                margin-top: 0!important;
                margin-right: 0;
                margin-bottom: 2px;

            }
            position: relative;
            .mask {
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: $nav-hover-link;
                @include transitionAll;
                @include respond(xs) {
                    opacity: 1;
                    bottom: 0;
                    height: 100%;
                    top: auto;
                    background: none;
                    a {
                        background: none;
                    }
                    h3 span {
                        position: absolute;
                        bottom: 5px;
                        top: auto;
                        font-size: 16px;
                        color: white;
                    }
                }
            }
            img {
                width: 100%;
                @include transitionAll;
            }
            p {
                margin: 0;
            }
            a {
                background: $nav-hover-link;
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                color: $project-home-color;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 30px;

                }
            }
            .placeholder {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $nav-bg-color;
            }
            h3 {
                font-family: "Bebas Neue Bold", sans-serif;
                text-align: center;
                position: relative;
                margin: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }
            &:hover {
                .mask {
                    opacity: 1;
                }
            }
        }
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
}