.content-left, .content-right {
    width: 50%;
    box-sizing: border-box;
}
.content-container.project {
    width: 100%;
    margin-top: 20px;
    @include respond(mdDOWN) {
        width: 90%;
        margin: 0 auto;
    }
    @include respond(xs) {
        margin-top: 0;
    }
    .project-description {
        @include respond(lg) {
            max-width: 50%;
            padding-left: 50%;
            margin-top: -30px;
        }
        margin: 0 auto 20px;
        p {
            margin: 3px;
            color: $project-home-color;
        }
    }
    .project-title {
        text-align: center;
        position: relative;
        max-width: 90%;
        margin: 0 auto;
        text-transform: uppercase;
        h2 {
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 40px;
            color: $header-home-color;
        }
        &:hover {
            .arrow-right, .arrow-left {
                opacity: 1;
            }
        }
        .arrow-right, .arrow-left {
            @include transitionAll;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: rgba(0,0,0,0.4);
            position: absolute;
            top: 50%;
            padding: 0;
            font-size: 0;
            &:hover {
                border-right-color: $nav-hover-link-dark;
                border-left-color: $nav-hover-link-dark;
            }
        }
        .arrow-right {
            opacity: 0;
            right: 0;
            transform: translateY(-50%);
        }
        .arrow-left {
            opacity: 0;
            display: block;

            left: 0;
            transform: translateY(-50%);
        }
        @include respond(xs) {
            .arrow-right, .arrow-left {
                opacity: 1;
            }
        }
        @include respond(sm) {
            .arrow-right, .arrow-left {
                opacity: 1;
            }
        }
        @include respond(md) {
            .arrow-right, .arrow-left {
                opacity: 1;
            }
        }
    }
    #project-images {
        padding-bottom: 40px;
        overflow: hidden;
        @include respond(xs) {
            max-height: none;
        }
        @include respond(mdUP) {
            max-height: calc(100vh - 120px);
        }
        .owl-item {
            overflow: hidden;
        }
        .owl-item img {
            @include respond(mdUP) {
                height: calc(100vh - 120px);
                width: auto;
            }
            margin: 0 auto;
            @include respond(xs) {
                max-width: 100%;
            }
        }
        &:hover {
            .owl-nav {
                opacity: 1;
            }
        }
        p {
            margin: 0;
        }
        .owl-nav {
            @include transitionAll;
            opacity: 0;
            width: 100%;
            position: absolute;
            top: calc(50% - 60px);
            @include respond(xs) {
                display: none;
            }
        }
        .owl-prev, .owl-next {
            display: none;
            @include respond(mdUP) {
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: rgba(0,0,0,0.4);
                padding: 0;
            }
            @include transitionAll;
            &:hover {
                border-right-color: $nav-hover-link-dark;
                border-left-color: $nav-hover-link-dark;
            }
        }
        .owl-prev {
            position: absolute;
            left: 5%;
        }
        .owl-next {
            position: absolute;
            right: 5%;
        }
        .owl-dots {
            margin-top: 10px;
        }
    }

    .right-50 {
        width: 50%;
        float: right;
        text-align: left;
        line-height: 1.3;
        @include respond(xs) {
            width: 100%;
            text-align: justify;
        }
    }
}