.service {
    h1 {
        @include heading();
        padding: 60px 0 20px;
        @include respond(xs) {
            padding: 30px 0 20px;
            float: none;
            display: block;
            text-align: center;
        }
    }
    width: 90%;
    margin: 0 auto;
}
.service-page {
    padding-top: 30px;
    .collapsable {
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        margin-bottom: 40px;
        width: 50%;
        float: left;
        &:nth-child(1) {
            padding-right: 1%;
            text-align: right;
            ul {
                direction: rtl;
            }
            h2 {
                text-align: right;
            }
            .expandable {
                padding-right: 0;
                &:after {
                    left: 50px;
                    right: auto;
                    @include respond(mdDOWN) {
                        right: 0;
                        left: auto;
                    }
                }
            }
            @include respond(mdDOWN) {
                direction: ltr;
                text-align: left;
                h2 {
                    text-align: left;
                }
            }
        }
        &:nth-child(2) {
            padding-left: 1%;
            border-left: 1px solid rgba(0,0,0,0.4);
            @include respond(mdDOWN) {
             border: none;
            }
        }
        @include respond(mdDOWN) {
            width: 100%;
            &:nth-child(1) {
                padding-right: 0;
            }
            &:nth-child(2) {
                padding-left: 0;
            }
        }
        h2 {
            color: rgba(0,0,0,0.4);
            margin: 0;
            position: relative;
            font-size: 18px;
            font-weight: 500;
        }
        .expandable {
            @include transitionAll();
            position: relative;
            cursor: pointer;
            padding-right: 60px;
            @include respond(mdDOWN) {
                padding-right: 20px;
            }
            &:hover {
                color: rgba(0,0,0,1);
                &:after {
                    color: rgba(0,0,0,1);
                }
            }
            &:after {
                @include transitionAll();
                font-family: "Catamaran", sans-serif;
                content: '.';
                font-size: 58px;
                line-height: 0;
                display: block;
                position: absolute;
                padding: 0;
                top: -12px;
                right: 50px;
                color: rgba(0,0,0,.4);
                @include respond(mdDOWN) {
                    right: 0;
                }
            }
        }
        h3 + ul, h4 + ul {
            display: none;
        }
        div {
            * {
                color: rgba(0,0,0,0.6)
            }
            h3 {
                font-size: 14px;
                font-weight: 500;
            }
            h4 {
                font-size: 14px;
                font-weight: 500;
            }
            b {
                font-size: 14px;
            }
            p {
                margin: 0;
                font-size: 14px;
            }
            li {
                color: rgba(0,0,0,0.4);
            }
        }
        &.active {
            h2 {
                &:after {
                  transform: rotate(180deg);
                }
            }
        }
    }
}