.service {
    h1 {
        @include heading();
        padding: 60px 0 20px;
        @include respond(xs) {
            padding: 30px 0 20px;
            float: none;
            display: block;
            text-align: center;
        }
    }
    width: 90%;
    margin: 0 auto;
}
.service-page {
    .collapsable {
        overflow: hidden;
        box-sizing: border-box;
        padding: 0px;
        margin-bottom: 40px;
        h2 {
            color: rgba(0,0,0,0.6);
            margin: 0;
            padding: 5px;
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            position: relative;
            font-size: 20px;
            &:after {
                @include transitionAll();
                content: ' ';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 10px;
                border-color:$carousel-arrow transparent transparent transparent;
                background: none;
                padding: 0;
                top: 10px;
                right: 10px;
            }
        }
        div {
            display: none;
            * {
                color: rgba(0,0,0,0.6)
            }
            h3 {
                font-size: 16px;
            }
            b {
                font-size: 14px;
            }
            p {
                margin: 0 5px;
            }
        }
        &.active {
            h2 {
                &:after {
                  transform: rotate(180deg);
                }
            }
        }
    }
}