<div id="contact" class="recaptcha-contact right">
    <div class="row">
        {% include 'partials/recaptchaform.html.twig' with {'page': page, 'recaptchacontact': recaptchacontact} %}
    </div>
    <div class="info">
        <p><b>Address</b>: 1605 S. Fairview Ave. Park Ridge, IL 60068</p>
        <p><b>Phone</b>: <a href="tel:7738872999">(773) 887-2999</a></p>
        <p><b>E-Mail</b>: <a href="mailto:diana@creativewallsandspaces.com">diana@creativewallsandspaces.com</a></p>
    </div>
</div>